@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1660px) {
	/**/
	.carousel{
		width: 1350px;
	}
	
@media only screen and (max-width : 1368px) {
	/**/
	.carousel{
		width: 1025px;
	}

}
@media only screen and (max-width : 1060px) {
	/**/
	.carousel{
		width: 715px;
	}
	.map-text {
    	max-width: 430px;
	}
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/**/
	.pic-about{
		margin-top: 30px;
	}
	.navbar-nav{
		margin-top: 20px;
		background-color: rgba(0,0,0,0.5);
		a{
			border-bottom: 1px solid rgba(0,0,0,0.5);
		}
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	/**/
	.carousel{
		width: 392px;
	}
	.next img{
		right: 0;
	}
	.prev img{
		right: 0;
	}
	.map-text {
    	max-width: 300px;
	}

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/**/
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	/**/
}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}

